@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.swing:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

html,body{
    height:100%;
}
#wrap:after{
    content: "";
    display: block;
}
#wrap {
    margin-bottom: 5%;
    min-height:75%;
}
#wrap:after{
    height: 100%;
}

.visible_1
{
    display:block;
} 

.visible_2
{
    display:none;
}
.visible_3
{
    display:none;
} 
.visible_4
{
    display:none;
} 
.visible_5
{
    display:none;
} 
.visible_6
{
    display:none;
} 
.visible_7
{
    display:none;
} 
.visible_8
{
    display:none;
} 

.visible_markup_1
{
    display:block;
} 
.visible_markup_2
{
    display:none;
}

.visible_fines_1{
    display:block;
}
.visible_fines_2{
    display:none;
}
.visible_fines_3{
    display:none;
}
.visible_fines_4{
    display:none;
}
.visible_fines_5{
    display:none;
}
.visible_fines_6{
    display:none;
}
.visible_fines_7{
    display:none;
}
.visible_fines_8{
    display:none;
}
.visible_fines_9{
    display:none;
}

.visible_courses_1{
    display:block;
}
.visible_courses_2{
    display:none;
}

.visible_lection_1{
    display:block;
}
.visible_lection_2{
    display:none;
}
